.blog-post-1 h1 {
  margin: 20px;
 }
figure img,
figure figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }
figure {
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
 }
.author img {
  width: 50px;
 }
 
footer {
  margin-top: 50px;
  text-align: center;
 }